<!DOCTYPE html>
<html>
    <head>
        <style>
            body
            {
                text-align: center;
            }
            #description {
                font-size: x-large;
                color:chocolate;
            }
            .size {
                font-size:x-small;
                font-weight:500;
                color: deeppink;
            }
        </style>
    </head>
    <body>
            <b>Chiyuki</b>
            <br>
            <img src="C:\Users\Redux\Desktop\Stuff for coding\Chiyuki.webp">
            <br>
            <p id="description">Anna is a pog architecture. She is one of the people who should be protected at all cost. Thanks. That is all.</p>
            <br>
            <p class="size">She is a kind hearted soul, with a heart of gold. We love her. We cherish her. We protect her.</p>
    </body>
</html>